/* reset css */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* commmon */
.clear{
    clear: both;
}

.row{

    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-thỉrd{
    width: 33.33333%;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;

}
.btn:hover{
    color: #000;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}
/* main */
#main{

}

#header{
height: 46PX;
background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
list-style-type: none;
}
#nav>li{
    display: inline-block;
    
}
#nav li{
    position: relative;
}
#nav>li>a{
    color: #fff;
    text-transform: uppercase;

}
#nav li a{

    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}
#nav li:hover .subnav{
display: block;
}
#nav>li:hover>a,    
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow:0 0 10px rgb(0, 0, 0, 0.3) ;
}
#nav .subnav a{
 color: black;
padding: 0px 12px;
line-height: 38px;
}
#nav .nav-around-down{
    font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover {
    background-color: #f44336;
}
#header .ti-search{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: #ccc;
    bottom: 47px;
    /* căn giữa item */
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
   font-weight: 500px;
   font-size: 24px;
}
#slider .text-description{
 font-size: 15px;
 margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    min-width: 500px;
    margin: 10px 0;
}
#content .section-sub-heading{
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text{
    font-size: 15px;
    text-align:  justify;
    line-height: 1.6;
    /* padding: 15px 0; */

}
#content .member-list{
    margin-top: 48px;
    
}

#content .member-name{
   
}
#content .member-avata{
   width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* tour section */
.tour-section{
background-color: #000;
}
.text-while{
    color: #fff !important;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.ticket-list li{
    color: #757575;
    font-size:15px ;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out{
    background-color: rgb(244, 67, 54);
    color: #fff;
    margin-left: 16px;

}
.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    line-height: 24px;
    margin-top: -1px;
}
/* place */
.place-list{
margin-top: 32px;

}

.place-img{
width: 100%;
display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
background-color: #fff;
padding: 16px 16px;
font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600px;
}
.place-time{
margin-top: 15px;
color: #757575;
}
.place-dsc{
margin-top: 15px;
line-height: 1.6;
}

/* contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit{
background-color: #000;
color: #fff;
float: right;
padding: 10px 16px;
border: 1px solid #000;
}

.map-section img{ 
width: 100%;
}
#footer{
padding: 64px 16px;
text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
   color: rgb(0, 0, 0, 0.6);
   /* gach chan */
   text-decoration: none;
}
#footer .coppyright a:hover,
#footer .socials-list a:hover{
    color: rgb(0, 0, 0, 0.2);
   
 }
 #footer .coppyright{
    margin-top: 15px;
    color: rgb(0, 0, 0, 0.6);
 }
 #footer .coppyright a{
   
    color: rgb(0, 0, 0, 0.6);
 }

.model{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.model-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative; 
    animation: modelFaceIn ease 0.6s;
}
.model-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.model-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.model-header-icon{
    margin-right: 16px;
}
.model-body{
    padding: 16px;
}
.model-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.model-input {
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets {
    COLOR: #FFF;
    border: none;
    width: 100%;
    background-color: #009688;
    text-transform: uppercase;
    padding: 10px;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.model-footer{
    padding: 16px;
    text-align: right;
   cursor: pointer;
}
.model-footer a{
    color: #2196f3;
}
.open{
    display: flex;
}
@keyframes modelFaceIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
